In [1]:
#Oficina de Visualização de dados Aula1.1
import pandas as pd
df = pd.read_csv("drinks.txt")
df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
...,...,...,...,...,...
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0
190,Yemen,6,0,0,0.1
191,Zambia,32,19,4,2.5
192,Zimbabwe,64,18,4,4.7

In [2]:
#Qual a média e desvio padrão do consumo de cerveja, licor, vinho e total de álcool?
df.describe()[1:3]

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298

In [3]:
#Qual o consumo de licor na França?
df[df['country'] == 'France'][["country", "spirit_servings"]]

   country  spirit_servings
61  France              151

In [4]:
#Quais os 5 países nos quais se consome mais vinho?
df.sort_values(by='wine_servings', ascending=False).head()[["country", "wine_servings"]]

         country  wine_servings
61        France            370
136     Portugal            339
3        Andorra            312
166  Switzerland            280
48       Denmark            278

In [5]:
#Quais os países nos quais o consumo de cerveja está acima da média?
media = df["beer_servings"].mean()
df[df["beer_servings"] > media].sort_values(by='beer_servings', ascending=True)[["country", "beer_servings"]]

                          country  beer_servings
139                       Moldova            109
189                       Vietnam            111
185                       Uruguay            115
145  St. Vincent & the Grenadines            120
11                        Bahamas            122
..                            ...            ...
98                      Lithuania            343
65                        Germany            346
62                          Gabon            347
45                 Czech Republic            361
117                       Namibia            376

[76 rows x 2 columns]

In [6]:
#Quais países nos quais o consumo total de álcool está acima do Brasil, em ordem do menor para o maior?
consumo_de_alcool_no_brasil = df[df["country"] == "Brazil"]["total_litres_of_pure_alcohol"].values[0]
df[df["total_litres_of_pure_alcohol"] > consumo_de_alcool_no_brasil].sort_values(by="total_litres_of_pure_alcohol", ascending=True)[["country", "total_litres_of_pure_alcohol"]]

                country  total_litres_of_pure_alcohol
132            Paraguay                           7.3
35                Chile                           7.6
188           Venezuela                           7.7
143   St. Kitts & Nevis                           7.7
159        South Africa                           8.2
32               Canada                           8.2
44               Cyprus                           8.2
6             Argentina                           8.3
179              Uganda                           8.3
67               Greece                           8.3
184                 USA                           8.7
62                Gabon                           8.9
180             Ukraine                           8.9
124             Nigeria                           9.1
121         New Zealand                           9.3
120         Netherlands                           9.4
57              Estonia                           9.5
151              Serbia                           9.6
9               Austria                           9.7
138         South Korea                           9.8
60              Finland                          10.0
160               Spain                          10.0
144           St. Lucia                          10.1
166         Switzerland                          10.2
42              Croatia                          10.2
25             Bulgaria                          10.3
8             Australia                          10.4
140             Romania                          10.4
182      United Kingdom                          10.4
48              Denmark                          10.4
16              Belgium                          10.5
93               Latvia                          10.5
156            Slovenia                          10.6
135              Poland                          10.9
136            Portugal                          11.0
75              Hungary                          11.3
65              Germany                          11.3
99           Luxembourg                          11.4
155            Slovakia                          11.4
81              Ireland                          11.4
141  Russian Federation                          11.5
45       Czech Republic                          11.8
61               France                          11.8
68              Grenada                          11.9
3               Andorra                          12.4
98            Lithuania                          12.9
15              Belarus                          14.4